body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header */
header {
  color: #d9d9d9;

  background-image:url('../img/main_bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  min-height: 30em;

  position: relative;
  width: 100%;
  height: auto;
  padding: 8rem 0;

}

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 3rem;
}

h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.5rem;
  font-style: italic;
  width: 20em;
  max-width: 90vw;
}

nav {
  display: none;
}
#menu-toggle {
  position: fixed;
  top: 1em;
  left: 1em;
}

section {
  padding: 7rem 0;
}

/* Première section */
#intro, #technos p, .card-text {
  text-align: justify;
}
#technos {
  text-align: center;
}
/* généraux : */
.custom_card {
  margin-bottom: 1em;
  max-width: 95%;
}
.card {
  margin: 1em;
}
.card-title a {
  color: #1f4079;
}
#superbouton {
  padding: 1.25rem 2.5rem;
  background: #363636;
  color: white;
}

/* spécialement pour les écrans plus grand que 900px */
@media (min-width: 900px) {
  header {
    height: 100vh;
  }
  h1 {
    font-size: 5.5rem;
  }

  #intro {
    text-align: center;
  }
}
