body {
  font-family: 'Source Sans Pro', sans-serif;
  perspective: 1500px; /* utile pour l'animation du menu*/
  background: rgb(170,105,13);
  background: linear-gradient(200deg, #aa690d 0%, #8d2a00 60%, #570b04 100%);
}
/* timing transition général */
#menu-toggle, .card-img-top, h4.card-body {
  transition: all 0.5s;
}
#view, nav li {
  transition: all 0.4s;
}
ul.sansPuce li, nav li {
  list-style: none;
}
/* effet du menu */
#view {
  background-color: white;
  /* force la vue à avoir l'ascenceur plutôt que la balise body : */
  height: 100vh;
  overflow: auto;
  position: relative;
  top: 0; left: 0;
  z-index: 2;
  /* ptite touche finale*/
  scroll-behavior: smooth;
}
#menu-toggle {
  position: fixed;
  z-index: 3;
  top: 1em;
  right: 4em;
  padding: 1.25rem 1.5rem;
  background: #363636;
  color: white;
}
body.openMenu #view {
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg) scale(1);
  cursor: pointer;
  filter: blur(5px);
}
body.openMenu #view:hover {
  filter: blur(1px);
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg) scale(0.9);
}
body.openMenu #menu-toggle {
  /* on le fais sortir de l'écran le bouton menu*/
  top: 0em;
  transform: translateY(-100%);
}
nav ul {
  padding: 0;
}
nav li {
  font-size: 3.5rem;
}
nav li li {
  font-size: 0.5em; /* un peu plus petit que le parent*/
}
nav li a {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', 'Source Sans Pro', sans-serif;
  color: white;
  padding: 0 1.5rem;
}
nav li:hover {
  background-color: rgba(0,0,0,0.3);
}
nav li:hover a {
  color: white;
  text-decoration: none;
}
nav>ul>li {
  margin-bottom: 0.5rem;
}
nav>ul>li:hover { /* ne pas appliquer le upscale sur les sous-listes */
  transform: scale(1.1);
}
/* spécialement pour les écrans plus petits que 900px */
@media (max-width: 600px) {
  nav li {
    font-size: 2rem;
  }
  body.openMenu nav {
    right: 1em;
  }
}

/* Header */
header {
  color: #d9d9d9;

  background-image:url('../img/main_bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 30em;

  position: relative;
  width: 100%;
  height: auto;
  padding: 8rem 0;
}

h1, h2, h3 {
  font-weight: 700;
}
h2, h2 {
  margin-bottom: 3rem;
}
h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1rem;
  color: #ecb807;
  text-align: center;
  text-transform: uppercase;
}
header h3 {
  font-size: 1.5rem;
  font-style: italic;
  width: 20em;
  max-width: 90vw;
  color: inherit;
}

nav {
  z-index: 1;
  position: absolute;
  top: 16%;
  right: 10vw;
}

section {
  padding: 7rem 0;
}

/* Première section */
#intro, #technos p, .card-text {
  text-align: justify;
}
#technos {
  text-align: center;
}
#technos .icone {
  background: white;
  color: #1d809f;
  font-size: 3em;
  width: 2em;
  height: 2em;
  margin: 0 auto 0.5em auto;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* généraux : */
.custom_card {
  margin-bottom: 1em;
  max-width: 95%;
}
.card {
  margin: 1em;
}
.card-title a {
  color: #f0883e;
}
.card.bg-dark a{
  color: #f0883e;
}
a h4 {
  color: black;
}


#menuDeLaccueil .card {
  overflow: hidden;
}
#menuDeLaccueil a:hover .card-img-top {
  transform: scale(1.3);
}
h4.card-body {
  z-index: 2;
  background: white;
  color: #333;
  font-weight: 500;
}
#menuDeLaccueil a:hover {
  text-decoration: none;
}
#menuDeLaccueil a:hover h4 {
  color: #b52f1a;
  text-decoration: none;
}
#superbouton {
  padding: 1.25rem 2.5rem;
  background: #363636;
  color: white;
}

#technos, #contact {
  background-color: #1d809f;
}
#portfolio {
  background-color: #b52f1a;
  margin: 0;
}

#smallerHeader {
  height: 30em;
}

#page-competences header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/competences.jpg');
}
#page-loisirs header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/loisirs.jpg');
}
#page-experiences header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/experience.png');
}
#page-experiences a[href="experiences.html"],
#page-competences a[href="competences.html"],
#page-loisirs a[href="loisirs.html"] {
  font-weight: bold;
}
/* obligation du .row pour définir priorité + importante par dessus bootstrap*/
footer.row {
  background-color: #363636;
  color: white;
  padding-top: 2em;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
#copyright {
  padding-top: 1rem;
  background-color: #2e2e2e;
  margin-top: 1rem;
}
/* spécialement pour les écrans plus grand que 900px */
@media (min-width: 900px) {
  header {
    height: 100vh;
  }
  h1 {
    font-size: 5.5rem;
  }

  #intro {
    text-align: center;
  }
}
